h1 {
  font: size 50px;
  color: aliceblue;
}
p {
  color: linen;
}
.colore {
  color: rgb(247, 150, 4);
}
body {
  font-family: sans-serif;
  margin: 0%; 
  background-color: black;
}
section{display: flex;
}

.half-width {
  width: 50%;
  padding-left: 2%;
  padding-right: 5px;
}
.half-width img {
  width: 100%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 50px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
}
.top-banner {
  background-image: url(IMG_0370.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
h4 {
  color: antiquewhite;
}
.next-banner {
    display: flex;
  margin-top: 105px;
  background-image: url(IMG_0639.JPG);
  background-position: center;
  background-size: cover;
}
#next {
  color: rgb(222, 218, 17);
}
#next4 {
  color: rgb(121, 121, 240);
}
#nextp {
    color: rgb(232, 228, 228);}
   .experience{
    display: block;
  margin-top: 40px;
padding: 10px 15px;
background-color: rgb(53, 1, 99);
border-top: 10px solid rgb(179, 237, 231);
   }
   .flex{
    display: flex;
   }
   #ex{
    color: black;
   }
   .hp{
    color: rgb(96, 218, 157);

   }
.h4c{
    color: black;
}
.pt{
    text-align: initial;
}
.expi-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px rgb(204, 84, 96);
    
    

}
#expi{
    border-left: 5px solid rgb(210, 140, 10);
}
#expi1{
    border-left: 5px solid rgb(81, 211, 11);
}
footer{
    text-align: center;
    padding-top: 10px;
}

